.gallery {
  width: min(90vw, 1600px);
  text-align: center;
  outline: 5px solid white;

  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(min(25vw, 250px), 1fr));
}

img {
  width: 100%;
  aspect-ratio: 4 / 5;
}
