<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Image Gallery</title>
    <link rel="stylesheet" href="image-gallery-responsive.css" />
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin-block: min(4vmax, 200px);
        background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("https://images.unsplash.com/photo-1544556390-f955a792e824?q=80&w=1000&auto=format&fit=crop");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

      .gallery {
        margin: auto;
      }
    </style>
  </head>
  <body>
    <section class="gallery">
      <img
        src="https://images.unsplash.com/photo-1475874619827-b5f0310b6e6f?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1551986782-d0169b3f8fa7?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1600326145377-bcccb9a9daf2?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1523537975250-24367c8fa76c?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1516642581250-4fb94123ba31?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1441057206919-63d19fac2369?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1516567194701-a4bb7cf3a21d?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1720045415240-21a27d6ce15a?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1720045415684-2f77820ac533?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1697568564154-6f39e2d3d828?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1720045415274-cd93a42fbddd?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1688668649160-276b732eaca4?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1704177095104-b5d09a2b923a?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1685385749056-50674009e03a?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1685385748159-8def1c77c152?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1671525872560-ee97bd152fd7?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1591647631635-a728c7ef4d26?q=80&w=1000&auto=format&fit=crop"
      />
      <img
        src="https://images.unsplash.com/photo-1583666976200-f1922ec50782?q=80&w=1000&auto=format&fit=crop"
      />
    </section>
  </body>
</html>
